<h1 class="title">React Components</h1>

<h2 class="lesson">07. Create a Stateless Functional Component</h2>
<%= react_component("components/StatelessFunctional") %>
<h2 class="lesson">08. Create a React Component</h2>
<%= react_component("components/ClassComponent") %>
<h2 class="lesson">10. Use React to Render Nested Components</h2>
<%= react_component("components/NestedComponents") %>
<h2 class="lesson">11. Compose React Components</h2>
<%= react_component("components/ComposedComponents") %>
